name: tbi_attendance_flutter
description: Flutter WebView wrapper for https://tbiattendance.tusharbhumkar.com/
publish_to: 'none' # since this is a private project
version: 1.0.0+1

environment:
  sdk: ">=2.18.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  webview_flutter: ^4.2.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/